/KepalaIT
/koneksi.php
/.htaccess
/login.php
/proses_login.php

/DirekturUtama/view/koneksi.php
/DirekturUtama/view/BatuBaru/view/koneksi.php
/DirekturUtama/view/BatuBaru/view/VRincianLR/koneksi.php
/DirekturUtama/view/PERTASHOP/view/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/koneksi.php
/DirekturUtama/view/PT.CBM/view/koneksi.php
/DirekturUtama/view/PT.CBM/view/VRincianLR/koneksi.php
/DirekturUtama/view/PT.MESPBR/view/koneksi.php
/DirekturUtama/view/PT.MESPBR/view/VRincianLR/koneksi.php
/DirekturUtama/view/PT.MESPBR/view/VRincianLRMES/koneksi.php
/DirekturUtama/view/CV.PBJ/view/koneksi.php
/DirekturUtama/view/CV.PBJ/view/VRincianLR/koneksi.php

/PT.CBM/Administrasi/view/koneksi.php
/PT.CBM/Administrasi/proses/koneksi.php
/PT.CBM/Administrasi/file_administrasi
/PT.CBM/KasirToko/view/koneksi.php
/PT.CBM/KasirToko/proses/koneksi.php
/PT.CBM/KasirToko/file_toko
/PT.CBM/KepalaGudang/view/koneksi.php
/PT.CBM/KepalaGudang/proses/koneksi.php
/PT.CBM/KepalaGudang/file_gudang
/PT.CBM/Manager/view/koneksi.php
/PT.CBM/Manager/proses/koneksi.php
/PT.CBM/Manager/file_manager
/PT.CBM/Oprasional/view/koneksi.php
/PT.CBM/Oprasional/proses/koneksi.php
/PT.CBM/Oprasional/file_oprasional
/PT.CBM/Sparepart/view/koneksi.php
/PT.CBM/Sparepart/proses/koneksi.php
/PT.CBM/Sparepart/file_sparepart
/PT.CBM/StaffAdmin/view/koneksi.php
/PT.CBM/StaffAdmin/proses/koneksi.php
/PT.CBM/StaffAdmin/file_staff_admin
/PT.CBM/Workshop/view/koneksi.php
/PT.CBM/Workshop/proses/koneksi.php
/PT.CBM/Workshop/file_workshop

/PT.PBR/KasirToko/view/koneksi.php
/PT.PBR/KasirToko/proses/koneksi.php
/PT.PBR/KasirToko/file_toko
/PT.PBR/KepalaGudang/view/koneksi.php
/PT.PBR/KepalaGudang/proses/koneksi.php
/PT.PBR/KepalaGudang/file_gudang

/CV.PBJ/Kasir/view/koneksi.php
/CV.PBJ/Kasir/proses/koneksi.php
/CV.PBJ/Kasir/file_kasir_pbj
/CV.PBJ/KasirSemen/view/koneksi.php
/CV.PBJ/KasirSemen/proses/koneksi.php
/CV.PBJ/KasirSemen/file_semen

/PT.BALSRI/Administrasi/view/koneksi.php
/PT.BALSRI/Administrasi/proses/koneksi.php
/PT.BALSRI/Administrasi/file_administrasi
/PT.BALSRI/Manager/view/koneksi.php
/PT.BALSRI/Manager/proses/koneksi.php
/PT.BALSRI/Manager/file_manager

/PERTASHOP/Administrasi/view/koneksi.php
/PERTASHOP/Administrasi/proses/koneksi.php
/PERTASHOP/Administrasi/file_administrasi
/PERTASHOP/Karyawan/view/koneksi.php
/PERTASHOP/Karyawan/proses/koneksi.php
/PERTASHOP/Karyawan/file_karyawan



