/login.php
/koneksi.php
/proses_login.php
/.htaccess
/KepalaIT
/assets/img/foto_profile
/CV.PBJ/Administrasi/view/koneksi.php
/CV.PBJ/Kasir/file_kasir_pbj
/CV.PBJ/Kasir/proses/koneksi.php
/CV.PBJ/Kasir/view/koneksi.php
/CV.PBJ/KasirSemen/file_semen
/CV.PBJ/KasirSemen/proses/koneksi.php
/CV.PBJ/KasirSemen/view/koneksi.php
/CV.PBJ/AdminSemen/file_admin_semen
/CV.PBJ/AdminSemen/proses/koneksi.php
/CV.PBJ/AdminSemen/view/koneksi.php

/DirekturUtama/view/koneksi.php
/DirekturUtama/view/BatuBara/view/koneksi.php
/DirekturUtama/view/BatuBara/view/VRincianLR/koneksi.php
/DirekturUtama/view/PERTASHOP/view/koneksi.php
/DirekturUtama/view/PERTASHOP/view/logout.php
/DirekturUtama/view/PERTASHOP/view/VRincianLRPs/koneksi.php
/DirekturUtama/view/PERTASHOP/view/VRincianLRPs/logout.php
/DirekturUtama/view/CV.PBJ/view/koneksi.php
/DirekturUtama/view/CV.PBJ/view/VRincianLR/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/VRDriverLMG/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/VRDriverLMGX/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/VRDriverPLG/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/VRDriverBTA/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/VRDriverBB/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/VRDriverBL/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/VRincianLRLMG/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/VRincianLRPLG/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/VRincianLRBTA/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/VRincianLRBB/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/VRincianLRBL/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/VRincianBackUp/koneksi.php

/DirekturUtama/view/PT.BALSRI/proses/koneksi.php
/DirekturUtama/view/PT.CBM/view/koneksi.php
/DirekturUtama/view/PT.CBM/view/VRincianLR/koneksi.php
/DirekturUtama/view/PT.MESPBR/view/koneksi.php
/DirekturUtama/view/PT.MESPBR/view/VRincianLR/koneksi.php
/DirekturUtama/view/PT.MESPBR/view/VRincianLRMES/koneksi.php
/DirekturUtama/view/Kebun/view/koneksi.php

/DirekturUtama/view/PT.STRE/view/koneksi.php
/DirekturUtama/view/PT.STRE/proses/koneksi.php
/DirekturUtama/view/PT.STRE/view/logout.php

/DirekturUtama/view/BALSRI_JBB/view/logout.php
/DirekturUtama/view/BALSRI_JBB/view/koneksi.php
/DirekturUtama/view/BALSRI_JBB/view/VRDriverBA/logout.php
/DirekturUtama/view/BALSRI_JBB/view/VRDriverBA/koneksi.php
/DirekturUtama/view/BALSRI_JBB/view/VRDriverPA/logout.php
/DirekturUtama/view/BALSRI_JBB/view/VRDriverPA/koneksi.php
/DirekturUtama/view/BALSRI_JBB/view/VRDriverPL/logout.php
/DirekturUtama/view/BALSRI_JBB/view/VRDriverPL/koneksi.php
/DirekturUtama/view/BALSRI_JBB/view/VRDriverTG/logout.php
/DirekturUtama/view/BALSRI_JBB/view/VRDriverTG/koneksi.php
/DirekturUtama/view/BALSRI_JBB/view/VRDriverTG8KL/logout.php
/DirekturUtama/view/BALSRI_JBB/view/VRDriverTG8KL/koneksi.php
/DirekturUtama/view/BALSRI_JBB/view/VRDriverUB/logout.php
/DirekturUtama/view/BALSRI_JBB/view/VRDriverUB/koneksi.php

/DirekturUtama/view/BALSRI_JBB/view/VRincianLRBA/logout.php
/DirekturUtama/view/BALSRI_JBB/view/VRincianLRBA/koneksi.php
/DirekturUtama/view/BALSRI_JBB/view/VRincianLRPA/logout.php
/DirekturUtama/view/BALSRI_JBB/view/VRincianLRPA/koneksi.php
/DirekturUtama/view/BALSRI_JBB/view/VRincianLRPL/logout.php
/DirekturUtama/view/BALSRI_JBB/view/VRincianLRPL/koneksi.php
/DirekturUtama/view/BALSRI_JBB/view/VRincianLRTG/logout.php
/DirekturUtama/view/BALSRI_JBB/view/VRincianLRTG/koneksi.php
/DirekturUtama/view/BALSRI_JBB/view/VRincianLRTG8KL/logout.php
/DirekturUtama/view/BALSRI_JBB/view/VRincianLRTG8KL/koneksi.php
/DirekturUtama/view/BALSRI_JBB/view/VRincianLRUB/logout.php
/DirekturUtama/view/BALSRI_JBB/view/VRincianLRUB/koneksi.php

/DirekturUtama/view/BatuBara/view/VRincianLRKen/koneksi.php
/DirekturUtama/view/BatuBara/view/VRincianLRKen/logout.php
/DirekturUtama/view/PT.BALSRI/view/VRDriverBK/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/VRDriverLx/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/VRincianLRBK/koneksi.php
/DirekturUtama/view/PT.BALSRI/view/VRincianLRLx/koneksi.php
/DirekturUtama/view/PT.STRE/view/VRDriverBKU/koneksi.php
/DirekturUtama/view/PT.STRE/view/VRincianLRBKU/koneksi.php


/PERTASHOP/Administrasi/file_administrasi
/PERTASHOP/Administrasi/proses/koneksi.php
/PERTASHOP/Administrasi/view/koneksi.php
/PERTASHOP/Karyawan/file_karyawan
/PERTASHOP/Karyawan/proses/koneksi.php
/PERTASHOP/Karyawan/view/koneksi.php

/PT.BALSRI/Administrasi/file_administrasi
/PT.BALSRI/Administrasi/proses/koneksi.php
/PT.BALSRI/Administrasi/view/koneksi.php
/PT.BALSRI/Manager/file_manager
/PT.BALSRI/Manager/proses/koneksi.php
/PT.BALSRI/Manager/view/koneksi.php
/PT.BALSRI/Manager/view/VRDriverLMG/koneksi.php
/PT.BALSRI/Manager/view/VRDriverPLG/koneksi.php
/PT.BALSRI/Manager/view/VRDriverBTA/koneksi.php
/PT.BALSRI/Manager/view/VRincianLRLMG/koneksi.php
/PT.BALSRI/Manager/view/VRincianLRPLG/koneksi.php
/PT.BALSRI/Manager/view/VRincianLRBTA/koneksi.php
/PT.BALSRI/Manager/view/VRincianLRPs/koneksi.php

/PT.CBM/Administrasi/file_administrasi
/PT.CBM/Administrasi/proses/koneksi.php
/PT.CBM/Administrasi/view/koneksi.php
/PT.CBM/KasirToko/file_toko
/PT.CBM/KasirToko/proses/koneksi.php
/PT.CBM/KasirToko/view/koneksi.php
/PT.CBM/KepalaGudang/file_gudang
/PT.CBM/KepalaGudang/proses/koneksi.php
/PT.CBM/KepalaGudang/view/koneksi.php
/PT.CBM/Manager/file_manager
/PT.CBM/Manager/proses/koneksi.php
/PT.CBM/Manager/view/koneksi.php
/PT.CBM/Oprasional/file_oprasional
/PT.CBM/Oprasional/proses/koneksi.php
/PT.CBM/Oprasional/view/koneksi.php
/PT.CBM/Sparepart/file_sparepart
/PT.CBM/Sparepart/proses/koneksi.php
/PT.CBM/Sparepart/view/koneksi.php
/PT.CBM/StaffAdmin/file_staff_admin
/PT.CBM/StaffAdmin/proses/koneksi.php
/PT.CBM/StaffAdmin/view/koneksi.php
/PT.CBM/StaffHRD/file_staff_HRD
/PT.CBM/StaffHRD/proses/koneksi.php
/PT.CBM/StaffHRD/view/koneksi.php
/PT.CBM/Workshop/gambar/
/PT.CBM/Workshop/file_workshop
/PT.CBM/Workshop/proses/koneksi.php
/PT.CBM/Workshop/view/koneksi.php

/PT.PBR/KasirToko/gambar/
/PT.PBR/KasirToko/file_toko
/PT.PBR/KasirToko/proses/koneksi.php
/PT.PBR/KasirToko/view/koneksi.php
/PT.PBR/KepalaGudang/file_gudang
/PT.PBR/KepalaGudang/proses/koneksi.php
/PT.PBR/KepalaGudang/view/koneksi.php

/Kebun/AdminKebun/file_kebun
/Kebun/AdminKebun/proses/koneksi.php
/Kebun/AdminKebun/view/koneksi.php

/PT.STRE/Administrasi/file_administrasi
/PT.STRE/Administrasi/proses/koneksi.php
/PT.STRE/Administrasi/proses/logout.php
/PT.STRE/Administrasi/view/koneksi.php
/PT.STRE/Administrasi/view/logout.php

/LATEX/Administrasi/view/koneksi.php
/LATEX/Administrasi/proses/koneksi.php
/LATEX/Administrasi/file_administrasi

/BALSRI_JBB/Administrasi/view/koneksi.php
/BALSRI_JBB/Administrasi/proses/koneksi.php
/BALSRI_JBB/Administrasi/view/logout.php
/BALSRI_JBB/Administrasi/proses/logout.php
/BALSRI_JBB/Administrasi/file_administrasi



